body {
  font-family: Open Sans, Arial;
  margin: 2.5em auto;
  max-width: 50em;
  line-height: 1.6;
  font-size: 1.125em;
  color: #454545;
  padding: 0 0.625em;
  background-color: #eeeeee;
}

h1 {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  line-height: 1.8;
}

a {
  color: #07a;
}

.email {
  font-size: 0.75em;
  padding-left: 1em;
}

.funmode {
  position:absolute;
  top:0;
  right: 0;
  margin-top: 1em;
  margin-right: 1em;
}
