body {
  background-image: url("img/space.gif");
  overflow-x: hidden;
}

header {
  color: #ffffff;
}

/* generic classes used anywhere!!! */

.webtitle {
  font-size: 8em;
  color: #ffffff;
  height: 1.3em;
}

a {
  color: lightblue;
}

.hover-cancel:hover {
  cursor: not-allowed;
}

.navbar {
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.content {
  font-size: 1.75em;
  color: #ffffff;
  text-align: center;
}

.content>ul {
  display: inline-block;
  text-align: left;
}

.content-noalign {
  font-size: 1.75em;
  color: #ffffff;
}

.content-small {
  color: #ffffff;
}

.overunder {
  text-decoration: overline underline;
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.center-noinline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nomargin {
  margin: 0;
}

.mono {
  font-family: monospace;
}

.boringmode {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1em;
  margin-right: 1em;
}

.columnar {
  max-width: 30em;
}

/* email and images in text */

img.text-size {
  height: 1em;
}

img.send-mail {
  height: 2.5em;
}

img.dotsize {
  height: 0.4em;
  align-self: unset;
  vertical-align: bottom;
  position: relative;
  top: 0.21em;
}

/* !!! awesome list !!! */

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
  padding-left: 0pt;
}

li:before {
  content: url("./img/i_ball.gif");
  padding-right: 5px;
}

/* divs */


div.underconstruction {
  background: url("img/underconstruction.gif") no-repeat;
  background-position: bottom right;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 149;
  height: 99;
}

/* special */
.new {
  position: absolute;
  transform: rotate(-30deg);
  top: 0;
  left: -10%;
}
